.video-details-container {
  display: flex;
}

.video-container {
  flex: 1;
}

.video-list-container {
  width: 40%;
}

.video-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.video-list-item:hover {
  background-color: #f2f2f2;
}

.video-list-item-details {
  flex: 1;
}

.selected-video {
  margin-bottom: 20px;
}

.placeholder {
  padding: 20px;
  text-align: center;
  color: #777;
}
video{

    max-height: 500px;
}